# VS code file
.vscode/
compile_commands.json

# Build files
/build/
/Debug/
/Release/

# CubeMX
.project
.cproject
.settings/
.metadata/
.stm32env

# KiCAD
*.kicad_prl
*.bak
*.tmp
*-cache.lib
*-rescue.lib
*.net
*.dsn
*.ses
*.lck
.history/
*-backups/
gerbers/

# Secrets
messages.local.c